<div class="card shadow-lg mb-5">
  <div class="card-body p-5">
    <h1 class="fs-4 card-title fw-bold mb-4"><%= t('devise.passwords.title.new') %></h1>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, data: { turbo: false }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :email, class: 'form-label mb-2 text-muted' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control form-control-lg' %>
      </div>

      <div class="d-grid gap-2 mt-4">
        <%= f.submit t('devise.confirmations.form.new.submit'), class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>