<%= form_with(model:track) do |form| %>
  <% if track.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
        <% track.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row g-3">
  <fieldset>

    <legend>Albums:</legend>
    <%= form.fields_for :album do |albuns_form| %>
      <%= render "album_form", form: albuns_form %>
    <% end %>

  </fieldset>

  <div>
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control form-control-lg' %>
  </div>

  <div>
    <%= form.label :lyric, class: 'form-label' %>
    <%= form.text_area :lyric, class: 'form-control form-control-lg' %>
  </div>

  <div>
    <%= form.label :audio, class: 'form-label' %>
    <%= form.file_field :audio, class: 'form-control form-control-lg' %>
  </div>

  <div class="form-group">
    <%= form.label :gender_id, class: 'form-label' %>
    <%= form.select(:gender_id, Gender.select_list(), { :prompt => t('form.select') }, { class: 'form-select form-select-lg select2-input', disabled: nil, data: { target: 'city-load.city', } }) %>
  </div>

<!--  <div>-->
    <%#= form.label :album_id, class: 'form-label' %>
    <%#= form.select(:album_id, Album.select_list(), { :prompt => t('form.select') }, { class: 'form-select form-select-lg select2-input', disabled: nil, data: { target: 'city-load.city', } }) %>

<!--  </div>-->



  <div class="mt-3">
    <%= form.submit t('form.submit'), class: "btn btn-primary" %>
  </div>
  </div>
<% end %>
