<div class="card shadow-lg mb-5 ">
  <div class="card-body p-5">
    <h1 class="fs-4 card-title fw-bold mb-4"><%= t('devise.sessions.title.new')%></h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'needs-validation') do |f| %>

      <div class="mb-3">
        <%= f.label :email, class: 'form-label mb-2 text-muted' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-lg' %>
        <div class="invalid-feedback">
          Email is invalid
        </div>
      </div>

      <div class="mb-3">
        <%= f.label :password, class: 'form-label mb-2 text-muted' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control form-control-lg' %>
        <div class="invalid-feedback">
          Password is required
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-check">
          <%= f.check_box :remember_me, class: 'form-check-input' %>
          <%= f.label :remember_me, t('devise.sessions.form.remember_me'), class: 'form-check-label' %>
        </div>
      <% end %>

      <div class="d-grid gap-2 mt-4">
        <%= f.submit t('devise.sessions.form.new.submit'), class: 'btn btn-lg btn-primary ' %>
      </div>

    <% end %>
  </div>

  <%= render "users/shared/links" %>

</div>