<div class="px-4 py-5 my-5 text-center">
  <%= link_to root_path do %>
    <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="logo" width="100" class="d-block mx-auto mb-4">
  <% end %>
  <h1 class="display-5 fw-bold text-body-emphasis">App Sound Cloud</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most
      popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive
      prebuilt components, and powerful JavaScript plugins.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <%= link_to 'Entrar', new_user_session_path, class: 'btn btn-primary btn-lg px-4 gap-3' %>
      <%= link_to 'Cadastrar-se', new_user_registration_path, class: 'btn btn-outline-secondary btn-lg px-4' %>
    </div>
  </div>
</div>

<div class="album py-5 bg-body-tertiary">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      <% @albums.each do |row| %>
        <div class="col">
          <div class="card shadow-sm">

            <%= image_tag(row.cover, class: 'bd-placeholder-img card-img-top') if row.cover.attached? %>

            <div class="card-body">
              <p class="card-text"> <%= row.description %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to('Visualizar', home_path(row), class: 'btn btn-sm btn-outline-secondary') %>
                  <%= link_to('Editar', edit_album_path(row), class: 'btn btn-sm btn-outline-secondary') %>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
