<div class="card shadow-lg mb-5">
  <div class="card-body p-5">
    <h1 class="fs-4 card-title fw-bold mb-4"><%= t('devise.passwords.title.edit') %></h1>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="mb-3">
        <%= f.label :password, "New password", class: 'form-label mb-2 text-muted' %><br/>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> <%= t('devise.registrations.form.text.min') %>)</em><br/>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control form-control-lg' %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, "Confirm new password", class: 'form-label mb-2 text-muted' %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control form-control-lg' %>
      </div>

      <div class="d-grid gap-2 mt-4">
        <%= f.submit t('devise.passwords.form.edit.submit'), class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>

  </div>
  <%= render "users/shared/links" %>
</div>